<div class="container">
    <h1>hey its Failed Event</h1>
    <table>
        <tr>
            <th colspan="2">&nbsp &nbsp &nbsp EventID
                <button type="button" class="btn btn-default" onclick="location.href='#'">Retry Log</button>
            </th>
        </tr>
        <tr>
            <td>Failed At</td>
            <td></td>
        </tr>
        <tr>
            <td>Event</td>
            <td>evrjgiygyjvjhv</td>
        </tr>
        <tr>
            <td>Error Message</td>
            <td></td>
        </tr>
        <tr>
            <td>Feed Uri</td>
            <td></td>
        </tr>
        <tr>
            <td>Retries</td>
            <td>
                <button type="button" class="btn btn-success" onclick="location.href='#'">Reset</button>
            </td>
        </tr>
    </table>
</div>