<div class="container">

    <table>
        <tr>
            <th>Failed at</th>
            <th>Event</th>
            <th>Error message</th>
            <th>Feed Uri</th>
            <th>Retries</th>
            <th>Retry Log</th>
        </tr>
        <tr ng-repeat="result in results">
            <td>{{result.failedAt}}</td>
            <td>{{result.event}}</td>
            <td>{{result.errorMessage}}</td>
            <td>{{result.feedUri}}</td>
            <td>{{result.retries}}<br><br><button class="resetButton"><a ng-click="resetRetryCount(result)">Reset</a></button></td>
            <td>
                <br><br>
                <button><a href="#/apps/{{appName}}/failedEvent/{{result.event.id}}/retryLog">View</a></button>
            </td>
        </tr>
    </table>
</div>