<div class="container">
    <table>
        <tr>
            <th colspan="2"> EventID
                <a class="buttons" href="http://www.google.com">Retry Log</a>
            </th>
        </tr>
        <div ng-repeat="result in results">
        <tr>
            <td>Failed At</td>
            <td>{{result.failedAt}}</td>
        </tr>
        <tr>
            <td>Event</td>
            <td>{{result.event}} hiuhiubiubviubgiyegiqwdbiwufi7egriybdueywgyuwefrvweyubduwy</td>
        </tr>
        <tr>
            <td>Error Message</td>
            <td>{{result.errorMessage}}</td>
        </tr>
        <tr>
            <td>Feed Uri</td>
            <td>{{result.feedUri}}</td>
        </tr>
        <tr>
            <td>Retries</td>
            <td>{{result.retries}}
                <a class="buttons" href="#">Reset</a>
            </td>
        </tr>
        </div>
    </table>
</div>