<div class="container-table">
    <table>
        <tr>
            <th>Feed URI</th>
            <th>Last Read Entry</th>
            <th>Count Of Failed Events</th>
            <th>List Of Failed Events</th>
        </tr>
        <tr ng-repeat="result in results">
            <td valign="top">{{result.feedUri}}</td>
            <td valign="top">{{result.lastReadEntry}}</td>
            <td valign="top">{{result.countOfFailedEvents}}</td>
            <td>
                <a class="button" ng-class="{disabled: checkDisableStatus(result)}" href="#/apps/{{appName}}/failedEvent?feedUri={{result.feedUri}}">View</a>
            </td>
        </tr>
    </table>
</div>

