<div class="apps-wrapper clearfix">

    <div class="app-container">
        <a href="#/apps/openMrs/feedStatus">
            <h3>OpenMRS</h3>
            <label>Get Feed Status</label>
        </a>
    </div>


    <div class="app-container middle-element">
        <a href="#/apps/openErp/feedStatus">
            <h3>OpenERP</h3>
            <label>Get Feed Status</label>
        </a>

    </div>

    <div class="app-container">
        <a href="#/apps/openElis/feedStatus">
            <h3>OpenElis</h3>
            <label>Get Feed Status</label>
        </a>
    </div>
</div>
