<div class="container-table">

    <table>
        <tr>
            <th>Feed Uri</th>
            <th>Failed At</th>
            <th>Error message</th>
            <th>Event Id</th>
            <th>Event Content</th>
        </tr>
        <tr ng-repeat="result in results">
            <td valign="top">{{result.feedUri}}</td>
            <td valign="top">{{result.failedAt}}</td>
            <td valign="top">
                <div style="max-height:500px; overflow:scroll;">
                    {{result.errorMessage}}
                </div>
            </td>
            <td valign="top">{{result.eventId}}</td>
            <td valign="top">{{result.eventContent}}</td>
        </tr>
    </table>

</div>