body{

 background: #fdfdfd;
 margin:0;
 padding:0;
 font-family: Verdana, Geneva, sans-serif;
 width: 100%;
}

.app-container{
    margin: 100px;
    margin-top: -10px;
    margin-bottom: 120px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }


.header-wrapper{
    background: #628982;
    float:left;
    width:100%;
    color: #fdfdfd;
}
.header-wrapper a{
    font-size: 20px;
    color: #fdfdfd;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
}
.container{
    width: 1500px;
    margin: 0 auto;
}
.container-table{
    padding: 70px;
    margin: 0 auto;
    padding-bottom: 0px;
}
.apps-wrapper{
    padding-top : 300px
}
.apps-wrapper .app-container.middle-element{
  margin: 0 125px;
}
.apps-wrapper .app-container{
    float:left;
     background: #e2e2e2; /* Old browsers */
                background: -moz-linear-gradient(top,  #e2e2e2 0%, #fefefe 0%, #dbdbdb 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #e2e2e2 0%,#fefefe 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #e2e2e2 0%,#fefefe 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    width : 300px;
    box-shadow: 5px 5px 7px #888888;
}
.apps-wrapper .app-container a{
    text-decoration: none;
}
.apps-wrapper .app-container label{
    display: block;
    width: 100%;
    background: #628982;
    font-size: 25px;
    text-align: center;
    color: #fdfdfd;
    padding: 5px 0;
    cursor: pointer;
}
.apps-wrapper .app-container h3{
    text-align: center;
    color: #263439;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #fdfdfd;
}
table, th,td{

    table-layout: fixed;
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    cellspacing: 0px;
    padding: 10px;
    text-align: center;
    font-family: "Geneva";
    width: 95%;
    overflow: scroll;
}

td pre {
    text-align: center;
    font-family: "Geneva";
    font-size: 15px;
}
th {
    background: #628982;
    color: #fdfdfd;
    font-size: 17px;
}

.button{
    float: none;
    font-size: 16px;
    padding: 5px 13px;
    background: #628982;
    border: 1px solid #71948e;
    border-radius: 4px;
    cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: #d6dad3;
  border: 1px solid #d6dad3;
}
.button:hover{
  background: #7FDE28;
  border: 1px solid #7FDE28;
}
